.content {
    padding: 10px;
    min-width: 1070px;
    background: white;
}

.left {
    border: 1px solid #abc9ef;
    width: 237px;
    float: left;
}


.prv {
    padding: 10px;
}


.title {
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 1px solid #abc9ef;
    text-align: center;
    font-size: 14px;
    color: #000;
    background: #e1ecff;
}

.box {
    padding-left: 255px;
}

.box .filt {

}

.box .filt > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 20px
}

.box .filt > ul > li > div > span {
    display: inline-block;
    padding-right: 10px;
    width: 48px;
    text-align: right
}

.box .filt > ul > li > div {
    display: inline-block;
    vertical-align: middle;
}

.box .filt > ul > li > div input {
    border: 1px solid #bed4ed;
    width: 138px;
    height: 28px;
    text-indent: 3px;
}

.box .filt > ul > li > div input.clock {
    width: 118px;
    background: url(../../images/icon/icon_The_calendar.png) no-repeat 100px center;
}

.box .filt > ul > li > div > select {
    border: 1px solid #bed4ed;
    width: 140px;
    height: 30px;
    text-indent: 3px;
}

.box .check_ope {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

.box .check_ope button {
    margin-right: 20px;
}

.operation {
    height: 30px;
    padding: 10px 0;
    border: 1px solid #bed4ed;
    border-bottom: none
}

.operation button {
    margin-left: 20px;
    margin-right: 10px;
}

.table {
    min-height: 350px;
    overflow: auto
}

.table table {
    min-width: 100%;
    border-collapse: collapse;
}

.table table td, .table table th {
    border: 1px solid #bed4ed;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 3px;
}

.table table thead {
    background: #e1ecff
}

.table table tr.onsel {
    color: #e7564f;
}

.check {
    width: 15px;
    height: 15px;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.check span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #abc9ef;
    background: transparent;
    vertical-align: top;
}

.check strong {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: #acc8ef;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 15px;
    font-weight: normal
}

.none {
    background: transparent;
    border: none;
    outline: none
}

.btn {
    background: #5e8ab3;
    min-width: 70px;
    height: 30px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    border: none;
    margin: 0;
}

.inp {
    outline: none;
    border: 1px solid #b0caeb;
    height: 25px;
    text-indent: 3px;
}

.num {
    outline: none;
    border: 1px solid #b0caeb;
    width: 60px;
    height: 25px;
    text-indent: 3px;
}

.print_table {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height:450px;
    overflow: auto;
}

.print_table table {
    border-collapse: collapse;
}

.print_table table th, .print_table table td {
    border: 1px solid #000;
    padding: 3px
}
