<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>资产折旧->折旧方式新增</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">
    <link rel="stylesheet" type="text/css" href="../../styles/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../styles/common/common.css">
    <link rel="stylesheet" type="text/css" href="../../styles/mce/PageMceDeprTypeNew.css">
    <script type="text/javascript" src="../../scripts/new_angular/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../../scripts/new_angular/angular.1.2.29.js"></script>
    <script type="text/javascript" src="../../scripts/new_angular/appDirectives.js"></script>
    <script type="text/javascript" src="../../scripts/new_angular/appServices.js"></script>

    <script type="text/javascript" src="../../scripts/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" type="text/css" href="../../scripts/My97DatePicker/skin/WdatePicker.css">
    <script type="text/javascript" src="../../scripts/mce/PageMceDeprTypeNew.js"></script>
</head>
<body ng-controller="index" ng-click="InputschangeState.changeState('a')">
    <div class="content">
        <div class="filt">
            <ul>
                <li>
                    <div>
                        <span>编码</span>
                        <input type="text"  ng-model="headInfo.CODE">
                    </div>
                </li>               
            </ul>
            <ul>
                <li>
                    <div>
                        <span>名称</span>
                        <input type="text"  ng-model="headInfo.NAME">
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div>
                        <span>年计提比例(%)</span>
                        <input type="text" ng-change="getMonthScale()" ng-model="headInfo.YEARLY_SCALE">
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div>
                        <span>月计提比例(%)</span>
                        <input type="text" readonly  ng-model="headInfo.MONTHLY_SCALE">
                    </div>
                </li>
            </ul>
        </div>
        <div class="data">
            <div class="operation">
          
                <button class="btn"  ng-click="saveModel('1')">保存</button>
                <button class="btn" ng-click="saveModel('2')">保存返回</button>

                <button class=" btn"  ng-click="goBack()">返回</button>
               

            </div>
           
        </div>
  
    </div>
</body>
</html>