<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>资产退库->资产退库新增</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">
    <link rel="stylesheet" type="text/css" href="../../styles/common/base.css">
    <link rel="stylesheet" type="text/css" href="../../styles/common/common.css">
    <link rel="stylesheet" type="text/css" href="../../styles/mce/PageMceBackNew.css">
    <script type="text/javascript" src="../../scripts/new_angular/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../../scripts/new_angular/angular.1.2.29.js"></script>
    <script type="text/javascript" src="../../scripts/new_angular/appDirectives.js"></script>
    <script type="text/javascript" src="../../scripts/new_angular/appServices.js"></script>

    <script type="text/javascript" src="../../scripts/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" type="text/css" href="../../scripts/My97DatePicker/skin/WdatePicker.css">
    <script type="text/javascript" src="../../scripts/mce/PageMceBackNew.js"></script>
</head>
<body ng-controller="index" ng-click="clearFkDetailState();InputschangeState.changeState('a')">
    <div class="content">
        <div class="filt">
            <ul>
                <li>
                    <div>
                        <span>单号</span>
                        <input type="text" readonly ng-model="headInfo.CODE">
                    </div>
                </li>
                <li>
                    <div>
                        <span>退库日期</span>
                        <input ng-readonly="headInfo.STATE > 1" type="text" class="clock" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',onpicked:function(){$(this).trigger('change')},isShowClear:false})"
                               ng-model="headInfo.CREATE_DATE" ng-disabled="headInfo.ID != ''">
                    </div>
                </li>
                <li>
                    <div>
                        <span>退库科室</span>
                        <my-param param="returndept" change="InputschangeState" param-obj="paramReturnDept" show-str="returndept" authority="headInfo.STATE > 1?true:false"></my-param>
                    </div>
                </li>
                <li>
                    <div>
                        <span>退库人</span>
                        <my-param param="returnuser" change="InputschangeState" param-obj="paramReturnUser" show-str="returnuser" authority="headInfo.STATE > 1?true:false"></my-param>
                    </div>
                </li>
                <li>
                    <div>
                        <span>入库科室</span>
                        <my-param param="dept" change="InputschangeState" param-obj="paramDept" show-str="dept" authority="headInfo.STATE > 1?true:false"></my-param>
                    </div>
                </li>
                <li>
                    <div>
                        <span>入库人</span>
                        <my-param param="user" change="InputschangeState" param-obj="paramUser" show-str="user" authority="headInfo.STATE > 1?true:false"></my-param>
                    </div>
                </li>
                <li>
                    <div>
                        <span>入库仓库</span>
                        <my-param param="stock" change="InputschangeState" param-obj="paramStock" show-str="stock" authority="headInfo.STATE > 1?true:false"></my-param>

                        <
                <li>
                    <div>
                        <span>备注</span>
                        <input ng-readonly="headInfo.STATE > 1" type="text" ng-model="headInfo.COMMENTS">
                    </div>
                </li>
            </ul>
        </div>
        <div class="data">
            <div class="operation">
                <button class="btn" ng-show="headInfo.STATE <= 1" ng-click="delModel()">删除</button>
                <button class="btn" ng-show="headInfo.STATE <= 1" ng-click="saveModel('1')">保存</button>
                <button class="btn" ng-show="headInfo.STATE <= 1" ng-click="saveModel('2')">保存返回</button>
                <button class="btn" ng-show="headInfo.STATE == 1" ng-click="submitModel()">提交</button>
                <button class="btn" ng-show="headInfo.STATE == 2" ng-click="auditModel()">审核</button>

                <button class="btn fr" ng-click="goBack()">返回</button>
                <button class="btn fr" ng-click="openNew()" ng-show="headInfo.STATE <= 1">引入出库单</button>

            </div>
            <div class="table">
                <table cellpadding="0" border="0" cellspacing="0">
                    <thead>
                    <th ng-click="checkAll()">全选/全不选</th>
                    <th>设备名称</th>
                    <th>规格型号</th>
                    <th>资产编号</th>
                    <th>备注</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k,v) in tableRows">
                            <td>
                                <div class="check" ng-click="v.checked = !v.checked" ng-show="headInfo.STATE <= 1">
                                    <span></span>
                                    <strong ng-show="v.checked">✔</strong>
                                </div>
                            </td>
                            <td>
                                <input ng-readonly="true" type="text" ng-model="v.ASSETS_NAME" style="width:200px" class="inp">

                            </td>
                            <td>
                                <input ng-readonly="true" type="text" ng-model="v.SPEC" class="inp">
                            </td>
                            <td>
                                <input ng-readonly="true" type="text" ng-model="v.ASSETS_CODE" class="inp">
                            </td>

                            <td>
                                <input ng-readonly="headInfo.STATE > 1" type="text" ng-model="v.COMMENTS" style="width:200px" class="inp">
                            </td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>




    <div class="bg" ng-show="newState.state"></div>
    <div class="new_data" ng-show="newState.state">

        <div class="filt">
            <ul>
                <li>
                    <div>
                        <span>关键字</span>
                        <input type="text" class="inp" ng-model="paramOutStockObj.code" placeholder="单号">
                    </div>
                </li>

                <li>

                    <button class="btn" ng-click="getModelOutStockList(1)">查询</button>

                </li>
            </ul>
        </div>

        <div class="data" style="height:385px;">
            <div class="table">
                <table border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <th ng-click="checkAllAssett()">全选/全不选</th>
                    <th>单号</th>
                    <th>出库库日期</th>
                    <th>出库仓库</th>
                    <th>领用科室</th>
                    <th>领用人</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,value) in modelOutStockList">
                            <td>
                                <input type="checkbox" ng-checked="value.checked" ng-click="value.checked=!value.checked">
                            </td>
                            <td ng-bind="value.CODE">00001</td>
                            <td ng-bind="value.CREATE_DATE">长沙迅捷</td>
                            <td ng-bind="value.STOCK_ID_NAME">张三</td>
                            <td ng-bind="value.USING_DEPT_ID_NAME">1351315</td>
                            <td ng-bind="value.USING_USER_ID_NAME">13861</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <mainpager my-pager="mainOutStockPager" my-search="getModelOutStockList(curIndex)"></mainpager>
            </div>
        </div>

        <div class="in">
            <button class="btn" ng-click="addInfo()">添加</button>
            <button class="btn" ng-click="newState.state = false">取消</button>
        </div>
    </div>


</body>
</html>