<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ipedf.Hrp.BizLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ipedf.Hrp.BizLogic.Properties.Settings>
            <setting name="Ipedf_Hrp_MCE_BizLogic_PRV_MCE_Web_Service_PRV_Web_Service"
                serializeAs="String">
                <value>http://localhost/hrp_shell_hnsprv_mce/service/prv/PRV_web/PRV_Web_Service.asmx</value>
            </setting>
        </Ipedf.Hrp.BizLogic.Properties.Settings>
    </applicationSettings>
</configuration>